* {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F5F5F5;
}

h1 {
    margin-top: 20px;
    color: #363062;
}

.img {
    border: 10px solid #F99417;
    padding: 10px;
    height: 20rem;
}

.contact {
    background-color: #F5F5F5;
    margin-top: 20px;
    padding: 15px;
}

h3 {
    color: #363062;
}

p {
    color: #363062;
}

.contact a {
    background-color: #F5F5F5;
}

.contact h3 {
    background-color: #F5F5F5;
    color: #a88462;
}
